@model IEnumerable<shop.Models.Danhmuc>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Danh mục</h2>

    <p>
        <a asp-action="Createdanhmuc" class="btn btn-primary">Thêm danh mục</a>
    </p>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Tên</th>
                <th>Chức năng </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                    <td>
                        <a asp-action="Editdanhmuc" asp-route-id="@item.MaDm" class="btn btn-warning btn-sm">Sửa</a> |
                        <a asp-action="Detailsdanhmuc" asp-route-id="@item.MaDm" class="btn btn-info btn-sm">Chi tiết</a> |
                        <a asp-action="Deletedanhmuc" asp-route-id="@item.MaDm" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
